html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: aliceblue;
  }
}



/* ---------- Style CSS of SweetAlert2 ---------- */

h2.title-sweet-connect{
  color:rgb(72, 65, 65) !important;
}



button.confirm-sweet-connect{
background-color: #4BB543 !important;
font-family: sans-serif !important;
}

div.icon-sweet-connect{
  color: #700b0b !important;
  border-color: #700b0b !important;
}


#rdv-btn{
  color: white;
  text-decoration:none;
}

div.text-sweet-connect{
  font-family: 'Inter', serif !important;
  font-size: 18px !important; 
  text-align: center !important;
}


/* ------------------------------------------------ */